html{
    font-size:2.5vh;
    overflow-y: scroll;
}

body{
    margin:0;
    padding:0;
    background:linear-gradient(to right, rgba(193, 118, 255, 0.873) 0%, rgba(112, 80, 217, 1) 100%);
    font-family: "Michroma", sans-serif;
    cursor:default;
}

body::-webkit-scrollbar {
    display: none;
}

.header{
    display:flex;
    width:100%;
    height:10vh;
    background-color:rgba(0, 0, 0, 0.1);
    align-items:center;
    justify-content:space-between;
}

.icon_button{
    display:flex;
    height:100%;
    width:10vh;
    align-items:center;
    justify-content:center;
    margin-left:3%;
}

.icon_image{
    object-fit:contain;
    height:70%;
}

.options{
    display:flex;
    height:100%;
    width:80vh;
    align-items:center;
    justify-content:space-around;
    margin-right:15%;
}

.option_button{
    display:flex;
    height:100%;
    width:20vh;
    align-items:center;
    justify-content:center;
    font-size:1rem;
    text-decoration-line:none;
    color:rgba(255, 255, 255, 1);
    cursor:pointer;
}

.card_container{
    display:block;
    width:100vw;
    height:100vh;
}

.card_banner{
    display:flex;
    height:20vh;
    width:100%;
    color:rgba(0, 0, 0, 1);
    font-size:1rem;
    background-color:rgba(255, 255, 255, 0.5);
    justify-content:center;
    align-items:center;
    margin:auto;
}

.coach_card_container{
    display:grid;
    width:80vw;
    grid-template-rows:repeat(1, 60vh);
    grid-template-columns:repeat(3, 20vw);
    gap:10vw;
    margin:10vh auto;
}

.player_card_container{
    display:grid;
    width:80vw;
    grid-template-rows:repeat(3, 60vh);
    grid-template-columns:repeat(3, 20vw);
    gap:10vh 10vw;
    margin:10vh auto;
}

.card{
    display:block;
    width:100%;
    height:100%;
    background-color:rgba(255, 255, 255, 1);
}

.card_top{
    display:flex;
    height:45%;
    width:100%;
}

.card_bottom{
    display:flex;
    height:50%;
    width:100%;
    background-color:rgba(0, 0, 0, 0.5);
    justify-content:center;
    align-items:center;
}

.card:hover{
    transform:translateY(-2px);
    box-shadow:3px 6px 12px 0 rgba(0,0,0,.25);
    cursor:pointer;
}